
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {%endblock%}</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/local.css" />

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="/shieldui/css/shieldui-all.min.css" />
    <link rel="stylesheet" type="text/css" href="/shieldui/css/light-bootstrap/all.min.css" />
    <script type="text/javascript" src="/shieldui/js/shieldui-all.min.js"></script>
    
</head>

<body>
    <div id="wrapper">
        {% include "menu.html" %}
        <div id="page-wrapper">
            {% block content %} {%endblock%}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% block extra_scripts %} {%endblock%}
    
    
</body>
</html>
