{% extends "layout.html" %}

{% block title %} Login {%endblock%}

{% block content %}

<!-- Form area -->
<div class="admin-form">
<div class="container">

<div class="row">
<div class="col-md-12">
<!-- Widget starts -->
<div class="widget">
<!-- Widget head -->
<div class="widget-head">
<i class="icon-lock"></i> Identificación de usuarios
</div>

{% if error != "" %}
<div class="alert alert-warning">{{ error }}</div>
{% endif %}

<div class="widget-content">
<div class="padd">
<!-- Login form -->
<form class="form-horizontal" action="{{ path('login_check') }}" method="POST">
    
<!-- Email -->
<div class="form-group">
<label class="control-label col-lg-3" for="username">Usuario</label>
<div class="col-lg-9">
<input type="text" class="form-control" id="username" placeholder="Usuario" name="_username">
</div>
</div>
<!-- Password -->
<div class="form-group">
<label class="control-label col-lg-3" for="password">Contraseña</label>
<div class="col-lg-9">
<input type="password" class="form-control" id="password" placeholder="Contraseña" name="_password">
</div>
</div>
<!-- Remember me checkbox and sign in button -->
<div class="form-group">
<div class="col-lg-9 col-lg-offset-3">
<div class="checkbox">
<label>
<input type="checkbox"> Recuerdame
</label>
</div>
</div>
</div>
<div class="col-lg-9 col-lg-offset-3">
<button type="submit" class="btn btn-danger">Acceder</button>
<button type="reset" class="btn btn-default">Borrar</button>
    </div>
<br />
</form>

</div>
</div>

<div class="widget-foot">
¿No puedes acceder? <a href="#">Soporte técnico</a>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}


